# Ignore the following folders:
.spyproject/
**/__pycache__/
.vscode/**
.vscode-upload.json

/jinzhu_inspect_code/*
/jinzhu_inspect_code

luto/.ipynb_checkpoints/*
pyproject.toml
anthropic.yml

# Report js files
luto/tools/report/VUE_modules/data/*.js
luto/tools/report/VUE_modules/data/map_layers

# Virtual environments
venv

# History files
.history/

# Input/output data
input/**
output/**

# Gurobi environment & logging
gurobi.env
gurobi.log

# Testing
.hypothesis

# Except this very file:
!.gitignore

# Some potential temporary files
*.zip
*.dat
*.log

# The mannual build files
/docs/manual/*

*.tmp
**/*.7z
.vscode-upload.json
.claude/settings.local.json
