numpy==1.26.0
pandas==2.2.0
rasterio
scipy==1.11.2
matplotlib==3.8.2
h5py==3.9.0
openpyxl==3.1.2
pytest==7.4.4
hypothesis==6.97.0
lxml==4.9.2
folium==0.15.1
contextily==1.5.1
imageio==2.34.0
geopandas
ipython
# Below can only be installed with pip
gurobipy==10.0.3
numpy_financial==1.0.0
tables==3.9.2