div.fig {
    height: 600px;
    margin-bottom: 100px;
}

.chart-container {
    display: grid;
    height: auto;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    gap: 20px;
    padding: 20px;
}

.chart-block {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
}

.content p {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}