
.content{
    margin-left:250px; 
}

#map object{  
    width:calc(100vw - 265px); 
    height:calc(98vh - 1px)
}

#dropdown {
    border-top: 1px dashed #8d8787; 
    margin-top: 30px; /* Add some space above the dropdown */
}

.sidebar label {
    padding-top: 20px;
}

.sidebar #dropdown:hover,  .sidebar #scroll:hover {
    background-color: #f1f1f1;
    color: rgb(0, 0, 0);
  }
  

#select {
    margin-top: 10px;
}
